body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
}

#game-board{

display:grid;

grid-template-columns: repeat(10,45px); /*это значит 10 колонок шириной 45 (делает поле)*/

gap:5px;

justify-content:center;

margin:20px;

width: fit-content;  /*Ограничим ширину, чтобы клетки не разлетались*/

}

.cell{

width:45px;

height:45px;

background:wrgba(255, 255, 255, 0.15); /* 255, 255, 255 — это белый цвет, 0.15 — прозрачность */
  
border: 2px solid rgba(255, 255, 255, 0.3); /*Тонкая рамка в 2 пикселя? ,белая рамка (255-белый)*/
  
border-radius:8px;

display:flex;

align-items:center;

justify-content:center;

font-weight:bold;

box-shadow:0 2px 5px rgba(0,0,0,0.2);

}
