body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
}

#game-board{

display:grid;

grid-template-columns: repeat(5,60px); //это значит 5 колонок шириной 60 (делает поле)

gap:5px;

justify-content:center;

margin:20px;

}

.cell{

width:60px;

height:60px;

background:white;

border-radius:8px;

display:flex;

align-items:center;

justify-content:center;

font-weight:bold;

box-shadow:0 2px 5px rgba(0,0,0,0.2);

}
