body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
}

#game-board{

display:grid;

grid-template-columns: repeat(10,repeat(10, 1fr)); /*это значит 10 колонок шириной 45 (делает поле)*/

gap:5px;

justify-content:center;

margin:20px;

width: fit-content;  /*Ограничим ширину, чтобы клетки не разлетались*/

#game-board-container {
    position: relative; /* Это "якорь", чтобы сетка не улетела в угол экрана */
    width: 100%;        /* Растягиваем на всю ширину смартфона */
    max-width: 500px;   /* Но не делаем гигантским на компьютере */
    margin: 0 auto;     /* Центрируем */
}

.snake-image {
    width: 100%;        /* Змея всегда занимает всю ширину контейнера */
    display: block;
}

.cell{

width:45px;

height:45px;

background:wrgba(255, 255, 255, 0.15); /* 255, 255, 255 — это белый цвет, 0.15 — прозрачность */
  
border: 2px solid rgba(255, 255, 255, 0.3); /*Тонкая рамка в 2 пикселя? ,белая рамка (255-белый)*/
  
border-radius:8px;

display:flex;

align-items:center;

justify-content:center;

font-weight:bold;

box-shadow:0 2px 5px rgba(0,0,0,0.2);

}
